<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full w-full bg-green-200 flex justify-center items-center ">
    

    <form action="/login" method="post" class="h-[300px] w-[300px] flex-col flex bg-white mt-[15vw] rounded-md items-center justify-center gap-3 shadow-lg ">
        <input class="border-2 p-2 rounded-md outline-none" type="text" placeholder="Enter your name" name="name">
        <input class="border-2 p-2 rounded-md outline-none" type="text" placeholder="Enter your email" name="email">
        <input  class="border-2 p-2 rounded-md outline-none" type="password"  placeholder="password" name="password">
        <input class="p-2 rounded-md bg-blue-500 text-white" type="submit">
    </form>
</body>
</html>